#set($id = $util.autoId())
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson("USER#123"),
    "sk": $util.dynamodb.toDynamoDBJson("MASK#$id@relay.privately.sh")
  },
  "attributeValues": {
    "address": $util.dynamodb.toDynamoDBJson("$id@relay.privately.sh"),
    "id": $id
  }
}
